* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #f5f5f5;
}

/* HERO */
.hero {
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1566073771259-6a8506099945") center/cover no-repeat;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.overlay h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 20px;
    margin-bottom: 30px;
}

.btn {
    padding: 12px 30px;
    background-color: #e67e22;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-size: 18px;
}

/* SERVICES */
.services {
    padding: 60px 20px;
    text-align: center;
}

.services h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.service-box {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.service {
    background: white;
    padding: 30px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.service h3 {
    margin-bottom: 10px;
    color: #2c3e50;
}

/* FOOTER */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
}
